@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #181818;
    color: #ffffe3;
}
/* Global scrollbar styling */

/* Chrome, Safari, and Opera */
::-webkit-scrollbar {
    width: 12px; /* Adjust width as needed */
}


/* Firefox */
html {
    scrollbar-width: thin; /* Options: auto, thin, none */
    scrollbar-color: #ffffe3 #181818; /* scrollbar-color: thumb color, track color */
}
